<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h1 style="font-size: 24px">
          <strong>Ethereum Classic Pool</strong>
        </h1>
        <strong>Min. payout threshold: {{config.PayoutThreshold}}</strong><br/>
        <span class="label label-success">PhoenixMax</span> Stable and profitable pool with regular payouts.<br/>
        <span class="label label-success">Reward</span> PPLNS (N=30000 Shares)<br/>
        <span class="label label-success">Fixed Fee</span> 0.65% <br/>
        <span class="label label-success">Help Me</span> Active Support Through Discord & Email
      </div> 
      <div class="col-md-3 stats">
        <div><i class="fa fa-users"></i> Miners Online: <span id="poolHashrate">{{format-number stats.model.minersTotal}}</span></div>
        <div><i class="fa fa-tachometer"></i> Pool Hash Rate: <span id="poolHashrate">{{format-hashrate stats.model.hashrate}}</span></div>
        <div><i class="fa fa-money"></i> Pool Fee: <span id="poolFee" class="label label-success">{{config.PoolFee}}</span></div>
        {{#if stats.model.stats.lastBlockFound}}
        <div><i class="fa fa-clock-o"></i> Last Block Found: <span>{{format-relative (seconds-to-ms stats.model.stats.lastBlockFound)}}</span></div>
        {{/if}}
      </div>
      <div class="col-md-4 stats">
        <div><i class="fa fa-unlock-alt"></i> Network Difficulty: <span>{{with-metric-prefix stats.difficulty}}</span></div>
        <div><i class="fa fa-tachometer"></i> Network Hash Rate: <span>{{format-hashrate stats.hashrate}}</span></div>
        <div><i class="fa fa-bars"></i> Blockchain Height: <span>{{format-number stats.height}}</span></div>
        <div><i class="fa fa-clock-o"></i> Current Round Variance: <span>{{format-number stats.roundVariance style='percent'}}</span></div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div>
  {{high-charts mode=chartMode chartOptions=chartOptions content=chartData}}
  </div>
  <div class="stats">
    <h4>Your Stats &amp; Payment History</h4>
    <div class="input-group">
      {{input value=cachedLogin class="form-control" placeholder="Enter Your ETC Address"}}
      <span class="input-group-btn">
        <button class="btn btn-primary" type="button" {{action 'lookup' cachedLogin}}>
          <span style="display: inline;"><i class="fa fa-search"></i> Lookup</span>
        </button>
      </span>
    </div>
  </div>
  <div>
    <hr/>
    <h4 class="note note-info text-center">
	<i class="fa fa-tachometer"></i> <b>Welcome to PhoenixMax High Performance Ethereum Classic Mining Pool</b> <i class="fa fa-tachometer"></i><br/><br/>
	PhoenixMax pools are Highly Optimized and hosted on Dedicated High Performance Servers
	located in the U.S. and are fully protected. Low Uncle/Orphan rates due to lightning fast gigabit network connectivity.
	This results in industry leading propagation times which equals more $$$ in your pocket!
    </h4>
    <hr/>
	<div>
	<hr/>
	<h4 class="note note-info text-center">
	<b>Pool Features</b><br/><br/>
	<p> Your immature balance and your pending balance will only start to show a balance when the pool has found a block
      after you started mining. Do not worry if you do not see these figures change immediately!</p>
     <p> It does not mean that your miner is not working or the pool has a problem, depending on the pool hashrate
      it can sometimes take a few hours to find a block. You can check when the last block was found by the pool on the "Pool Blocks" page.</p>
     <p> Also you may want to take a look at our "Help" page that shows you how to configure your mining rig to mine on our pools.</p>
	</h4>
	</div>
  </div>

